body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  
    background-color: #e7f0f8;
  }
  
  .wrapper {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    font-size: 350px;
  }

  h2 {
    display: flex;
    justify-content: center;
    font-size: 100px;
  }
  
  